@import url("./style.css");

body {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
}

.content {
    background: rgb(49 54 62);
    width: 25rem;
    min-height: 18rem;
    max-height: 28rem;
    border-radius: .35rem;
    color: hsl(0, 0%, 100%);
    text-align: center;
    display: flex;
    flex-direction: column;
    padding: 1.75rem 1.75rem;
}

#main {
    height: 20rem;
    padding: 0rem 1.75rem;
    justify-content: space-evenly;
}

.content .input {
    width: 100%;
}

.input {
    padding: .25rem 0rem;
    background: hsla(0, 0%, 0%, 0);
    border: none;
    border-bottom: .1rem hsl(0, 0%, 100%) solid;
    outline: none;
    color: hsl(0, 0%, 100%);
}

input:focus {
    border-bottom: .1rem var(--accent) solid;
}

.input::placeholder {
    color: hsl(0, 0%, 85%);
}

#motd {
    margin-top: .75rem;
    color: hsl(0, 0%, 95%);
}

#nav-list {
    list-style: none;
    display: flex;
    justify-content: space-between;
    font-size: .8rem;
    text-decoration: underline;
    cursor: pointer;
}

.nav-item {
    transition: .15s;
}

.nav-item:hover {
    color: var(--accent);
}

.nav {
    background: rgb(49 54 62);
    height: 1.5rem;
    width: 22rem;
    border-radius: .5rem 0rem 0rem 0rem;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: .25rem .5rem;
    color: #ffffff;
}

@media (max-width: 30rem) {
    .nav {
        height: 1.8rem;
        width: 100%;
        border-radius: .5rem .5rem 0rem 0rem;
        padding: .3rem .5rem;
    }
}

.contents {
    overflow-y: scroll;
}

#rule-list {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.rule {
    margin: .5rem;
}

.link {
    transition: .15s;
    text-decoration: underline;
    color: var(--accent);
    cursor: pointer;
}

.link:hover {
    color: rgba(var(--accent-r),var(--accent-g),var(--accent-b), 0.6);
}

::-webkit-scrollbar {
    width: .5rem;
}
::-webkit-scrollbar-thumb {
    background: var(--accent);
}
::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--accent-hue), var(--accent-saturation), 60%);
}
::-webkit-scrollbar-corner {
    background: rgba(0, 0, 0, 0);
}

p {
    word-break: break-word;
}

#rules {
    overflow: scroll;
    height: 86%;
}

#rulelist {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

#rulelist li {
    margin: .5rem;
}

h1 {
    color: var(--accent);
}

.rule-title {
    color: rgba(var(--accent-r),var(--accent-g),var(--accent-b), 0.6);
    font-size: 1.2rem;
}